<div class="container">
    <h3>Register Your Account</h3>
   <form action='/create' method='post'>
    <ul>
      <li>
        <label for="fullname">Full Name:</label>
        <input type=text name="fullname">
      </li>
      <li>
        <label for="email">Email:</label>
        <input type=text name="email">
      </li>
      <li>
        <label for="password">Password: </label>
        <input type=password name="password">
      </li>
      <li>
        <input type=submit value="Register">
      </li>
    </ul>
  </form>
</div>
