<div class="container">
  <h3>Log-in or Sign-up</h3>
  <form action='/profile' method='post' id="log-on">
    <ul>
      <li>
        <label for="email">Email:</label>
        <input type=text name="email" id="user">
      </li>
      <li>
        <label for="password">Password: </label>
        <input type=password name="password">
      </li>
      <li>
        <input type=submit value="Log-in">
      </li>
      <li>
        <a href="/create">Register (new users)</a>
      </li>
    </ul>
  </form>
</div>
